streamlit     
tensorflow           # Compatible TensorFlow version
keras==2.15.0                  # Compatible Keras version
transformers          # Hugging Face Transformers library
numpy==1.26.0                  # NumPy for numerical operations
streamlit-lottie
